{% extends 'layout.html' %}

{% block main %}
    <style>
        .tagview{
            display: flex;
            justify-content: space-between;
        }
        .tagview>.title{
            font-size: 0.3rem;
            color: #333;
            border-bottom: 1px solid #B44746;
            line-height: 2;
            display: inline-block;
            height: 0.6rem;
            line-height: 0.6rem;
            padding: 0 0.2rem;
        }
        .tagview>.addactivity{
            width: 1.36rem;
            height: 0.5rem;background: #B44746;
            line-height: 0.5rem;color: #ffffff;
            text-align: center;font-size: 0.2rem;
            border: none;outline: none;
            margin-top: 0.15rem;
        }
        .table{
            margin-top: 2.8vh;
            border: 1px solid #6BB114;
        }
        td>span.icon{font-size: 0.12rem;display: block;line-height: 0.2rem;cursor: pointer}
        td>span.icon>i{margin-left: 0.1rem}
    </style>
    <div class="tagview">
        <span class="title">活动管理</span>
        <button class="addactivity">创建活动</button>
    </div>
    <table class="table">
       <thead>
          <tr>
             <th>序号</th>
             <th>标题</th>
             <th>创建时间</th>
             <th>商品信息</th>
             <th>商品数量</th>
             <th>商品单价</th>
             <th>抢购起始时间</th>
             <th>抢购结束时间</th>
             <th>状态</th>
             <th>操作</th>
          </tr>
       </thead>
       <tbody>
        {% for index,item in obj.list %}
        <tr>
          <td>{{index + 1}}</td>
          <td>{{item.title}}</td>
          <td>{{item.timed | getTime}}</td>
          <td>
              <p>产地:{{item.origin.provice + item.origin.city + item.origin.county}}</p>
              <p>重量:{{item.weight + item.weight_unit}}</p>
          </td>
          <td>{{item.stock + item.unit}}</td>
          <td>{{item.price}}</td>
          <td>{{item.time.start | getTime}}</td>
          <td>{{item.time.finished | getTime}}</td>
          <td>{{item.ispush | activityStatus(item.time.finished)}}</td>
          <td>
              {% if !(item.time.finished | overtime) %}
              <span class="icon push" data-id={{item._id}}><i class="glyphicon glyphicon-eye-open"></i>发布</span>
              {% endif %}
              <!-- <span class="icon edit" data-id={{item._id}}><i class="glyphicon glyphicon-edit"></i>编辑</span> -->
              <span class="icon delete" data-id={{item._id}}><i class="glyphicon glyphicon-trash"></i>删除</span>
          </td>
        </tr>
        {% endfor %}
       </tbody>
    </table>
    <p>{{obj.count}}</p>
    
    <script>
        $('.addactivity').click(function(){
            location.href = '/admin/activity/addactivity/';
        })
        $('.push').click(function(){
            var id = $(this).attr('data-id');
            Ewin.confirm({ message: "确认发布当前活动吗？" }).on(function (e) {
                if(!e){return}
                $.ajax({
                    url:'/admin/activity/'+id,
                    type:'put',
                    success:function (data) {
                        if(data.code==0){
                            Ewin.alert('发布成功');
                            window.location.reload();
                        }else{
                            Ewin.alert(data.msg)
                        }
                    }
                })
            })
        })

        $('.delete').click(function(){
            var id = $(this).attr('data-id');
            Ewin.confirm({ message: "确认要删除选择的数据吗？" }).on(function (e) {
                if(!e){return}
                $.ajax({
                    url:'/admin/activity/'+id,
                    type:'delete',
                    success:function (data) {
                        if(data.code==0){
                            Ewin.alert('删除成功');
                            window.location.reload();
                        }else{
                            Ewin.alert(data.msg)
                        }
                    }
                })
            })
        })
        $('.edit').click(function(){
            var id = $(this).attr('data-id');
            window.location.href = '/admin/activity/'+id+'/edit';
        })
    </script>
    {% include 'page.html' %}
{% endblock %}
